//Variables
$primary-color: #007bff;
$primary-hove-color: #0056b3;
$secondary-color: #28a745;
$secondary-hove-color: #218838;
$background-color: wheat;
$container-bg-color: #ffffff;
$text-color: #333;
$subtext-color: #666f;
$call: 10px;

body{
    background-color: $background-color;
    font-family: 'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif;
    color: $text-color;
    font-size: $call;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

header{
    width: 100%;
    background-color: $container-bg-color;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px 0;

    h1 {
        margin: 0;
        font-size: 2.5rem;
        color: $text-color;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.container {
    background-color: $container-bg-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    margin: 50px auto;

    h1 {
        
        font-size: 2.5rem;
        color: $text-color;
        margin-bottom: 1.5rem;
    }

    p{
        font-size: 18px;
        color: $subtext-color;
        margin-bottom: 20px;
    }

    .input-field{
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border:  1px solid #333;
        border-radius: 4px;
        font-size: 1.5rem;
        box-sizing: border-box;
    }

    &:focus{
        border-color: $primary-color;
        overflow: none;
    }

    .btn{
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        transition: $background-color 0.3s ease;

        &.btn-login {
            background-color: $primary-color;
            color: #fff;

            &:hover{
                background-color: $primary-hove-color;
            }
        }

        &.btn-register {
            background-color: $secondary-color;
            color: #fff;

            &:hover{
                background-color: $secondary-hove-color;
            }
        }

        &.btn-logout {
            background-color: $secondary-color;
            color: #fff;

            &:hover{
                background-color: $secondary-hove-color;
            }
        }        

    }
}