{% extends "base.html" %}
{% block body %}
<div class="container">
    <h1>Welcome</h1>
    <form action="">
        <input 
            type="text" 
            name="username" 
            placeholder="username"
            class="input-field"
        />
        <input 
                type="text" 
                name="password" 
                placeholder="password" 
                class="input-field"
        />
        <input  type="submit"
                value="login" 
                class="btn btn-login"
        />
        <input type="button" 
                value="Register" 
                class="btn btn-login"
        />
    </form>
</div>
{% endblock %}