{% extends "base.html" %}
{% block body %}
<div class="container">
    <h1>Welcome</h1>
    <form id="auth-form" action="{{url_for('login')}}" method="post">
        <input 
            type="text" 
            name="username" 
            placeholder="username"
            class="input-field"
        />
        <input 
                type="text" 
                name="password" 
                placeholder="password" 
                class="input-field"
        />
        <input  type="submit"
                value="login" 
                class="btn btn-login"
                onclick="setActionForm('login')"
        />
        <input type="button" 
                value="Register" 
                class="btn btn-login"
                onclick="setActionForm('register')"
        />
    </form>
</div>

<script>
    function setActionForm(action){
        let form = document.getElementById('auth-form');
        if (action === 'login'){
            form.action = "{{url_for('login')}}";
            form.method = "post";
            form.submit()
        } else if (action === 'register'){
            form.action = "{{url_for('register')}}";
            form.method = "post";
            form.submit()
        }
    } 
</script>

{% endblock %}